@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@400;700&display=swap');

/* Fonts and Color */

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #F6F9FC;
  color: rgb(40,40,40);
}

h1, h2 {
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
}

/* Customized style */

.card-white {
  background-color: white;
  width: 500px;
  margin: 24px auto;
  box-shadow: 0 0 16px rgb(0 0 0 / 10%);
  padding: 16px;
  text-align: center;
}

.img-circle {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: 80% 50%;
  border-radius: 50%;
}

.btn-blue {
  background-color: #1854BB;
  color: rgb(250,250,250);
  padding: 16px 24px;
  border-radius: 4px;
  display: inline-block;
}

.btn-blue:hover {
  background-color: #631e6f;
  transition: 1s;
}

.list-inline {
  padding: 0;
  list-style: none;
}

.list-inline li {
  display: inline;
}

.list-inline a {
  font-size: 64px;
  margin: 0 4px;
  color: rgb(40,40,40);
}